html {
    scroll-behavior: smooth;
}

#smartscroll-padding {
    height: inherit;
    width: inherit;
    position: fixed;
    right: 50px;
    bottom: -30px;
    padding: 15px 15px 0 15px;
    transition: padding 1s;
    z-index: 1000;
}

#smartscroll-padding:hover {
    padding: 15px 15px 40px 15px;
}

#smartscroll-stub {
    background: rgb(179 179 179 / 50%);
    border-radius: 5px;
    display: flex;
    grid-gap: 5px;
    box-sizing: border-box;
    height: 35px;
    width: 70px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.smartscroll-button {
    padding: 5px;
    background: #b2b2b2;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.icon-arrow {
    line-height: unset !important;
    color: #f3f3f3;
}