html {
    scroll-behavior: smooth;
}

#scrollup {
    margin-right: 5px;
    position: fixed;
    z-index: 101;
    bottom: 10px;
    right: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear, visibility 0.5s linear;
}

#scrolldown {
    margin-right: 5px;
}