.LimitedColorSwitch_Shortcut {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), var(--color);
    cursor: pointer;
}

.LimitedColorSwitch_Popup {
    position: absolute;
    background-color: white;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border: 1px solid var(--setting-line-color);
    top: -123px;
    left: -159px;
    padding: 11px 6px 15px 6px;
    width: 169px;
}

.LimitedColorSwitch_Popup__Text {
    margin: auto;
    width: 120px;
    text-align: center;
}

.LimitedColorSwitch_Popup__Text p {
    margin: 5px 0 10px 0;
}

.LimitedColorSwitch_Popup__Options {
    margin: auto;
    display: flex;
    width: fit-content;
}

.LimitedColorSwitch_Popup__ColorOption {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: 0 3px;
    overflow: hidden;
}

.LimitedColorSwitch_Popup__ColorCustomInput {
    width: 54px;
    height: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font: 10px 'Open Sans';
}

.LimitedColorSwitch_Popup__ColorCustomInput:focus-visible {
    outline: var(--color-custom-input-result-outline) auto 1px;
}

.SettingInput.LimitedColorSwitch_Shortcut__Hover {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.SettingInput.LimitedColorSwitch_Shortcut__Hover::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
    transition: background 0.3s;
}

.SettingInput.LimitedColorSwitch_Shortcut__Hover:hover::before {
    background: rgba(0, 0, 0, 0.1);
}

.overlay + .LimitedColorSwitch_Shortcut .SettingInput.LimitedColorSwitch_Shortcut__Hover::before {
    opacity: 0 !important;
}

.SettingInput.LimitedColorSwitch_Shortcut__Hover:hover::before {
    opacity: 1;
}

.SettingInput.LimitedColorSwitch_Shortcut.si_lcs_s_white {
    background: #e8e8e8;
}

.SettingInput.LimitedColorSwitch_Shortcut.si_lcs_s_black {
    background: #050d26;
}

.SettingInput.LimitedColorSwitch_Shortcut.si_lcs_s_invert {
    background: #e8e8e8;
}

.SettingInput.LimitedColorSwitch_Shortcut.si_lcs_s_unset {
    background: #e8e8e8;
}

.SettingInput.LimitedColorSwitch_Shortcut.si_lcs_s_unset .LimitedColorSwitch_Shortcut__Hover::before {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    border-left: 24px solid transparent;
    border-bottom: 24px solid rgb(216, 44, 31);
    top: -24px;
}

.SettingInput.LimitedColorSwitch_Shortcut.si_lcs_s_custom {
    background: var(--color);
}

.LimitedColorSwitch_Popup__ColorOption.lcs_p_co_white {
    background: #e8e8e8;
}

.LimitedColorSwitch_Popup__ColorOption.lcs_p_co_black {
    background: #050d26;
}

.LimitedColorSwitch_Popup__ColorOption.lcs_p_co_custom {
    background: repeating-linear-gradient(135deg, #167ff0, #167ff0 5px, #ff3838 5px, #ff3838 10px, #ff9538 10px, #ff9538 15px, #ffe14a 15px, #ffe14a 20px, #5fc25d 20px,#5fc25d 25px);
}

.LimitedColorSwitch_Popup__ColorOption.lcs_p_co_custom_set {
    background: var(--color);
}

.LimitedColorSwitch_Popup__ColorOption.lcs_p_co_unset {
    background: #e8e8e8;
}

.LimitedColorSwitch_Popup__ColorOption.lcs_p_co_unset::before {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    border-left: 24px solid transparent;
    border-bottom: 24px solid rgb(216, 44, 31);
    top: -24px;
}