:root:root {
  --banner-background-color: #A82020;

  --tab-background-color-active: #21262F;
  --tab-background-color: #303643;
  --tab-text-color: #fff;

  --setting-line-color: #ccc;

  --setting-group-label-background-color: #000;
  --setting-group-label-text-color: #fff;

  --large-option-selected-indicator-color: #0392ff;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #ccc;
  width: 240px;
  height: 400px;
}

#popup {
  position: absolute;
  background: #FFF;
  width: 240px;
  height: 400px;
}

@media only screen and (min-width: 241px) {
  #popup {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (min-height: 401px) {
  #popup {
    top: 50%;
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 241px) and (min-height: 401px) {
  #popup {
    transform: translate(-50%, -50%);
  }
}

body, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, b {
  font-weight: 600;
}

.center {
  text-align: center;
}

.small-margin {
  margin: 15px 0;
}

.margin {
  margin: 25px 0;
}

.color-gray {
  color: #888;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.canvasplus-changes {
  background: #1c4b85;
  text-align: center;
  height: 320px;
  width: 240px;
  color: #fff;
  background-size: 200%;
  background-position-y: -350px;
  background-position-x: -100px;
}

.cpc-header {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.cpc-header img, .cpc-header p {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}

.cpc-header img {
  padding: 5px;
}

.cpc-header p {
  padding: 5px 10px;
}

h2 {
  margin: 0px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.changes-list {
  color: #f8f8f8;
  margin-top: 15px;
  font-size: 14px;
}

.changes-items {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 16px;
  padding: 8px 16px;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  margin-bottom: 5px;
}

.changes-items.changes-gold {
  background: -webkit-linear-gradient(45deg, rgb(255, 240, 30), rgb(253, 88, 12));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  top: 0;
  left: 0;
  z-index: 100;
}

.SidebarBackgroundColorPicker__ColorPicker .sketch-picker {

}

.SidebarBackgroundColorPicker__ColorPicker .sketch-picker > div:first-child {
  border-radius: 6px;
}

.SidebarBackgroundColorPicker__ColorPicker .sketch-picker > div:nth-child(2) > div:first-child > div:first-child, .SidebarBackgroundColorSwitch__ColorPicker .sketch-picker > div:nth-child(2) > div:nth-child(2) {
  border-radius: 12px !important;
  overflow: hidden;
}

.SidebarBackgroundColorPicker__ColorPicker .sketch-picker > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  box-shadow: none !important;
}

.SidebarBackgroundColorPicker__ColorPicker .sketch-picker input[id^=rc-editable-input] {
  border-radius: 20px;
  text-align: center;
}

.SidebarBackgroundColorPicker__ColorPicker .sketch-picker label {
  display: none !important;
}

.SidebarBackgroundColorPicker__ColorPicker .sketch-picker > div:last-child {
  border: none !important;
}

.SidebarBackgroundColorSwitch__ColorPicker .sketch-picker > div:last-child > div > span > div {
  border-radius: 50% !important;
}
