:root:root {
  --header-bgd-color: rgba(34, 49, 69, .95);
  --tabs-bgd-color: #2D3B45;
  --tabs-border-color: #383a42;;
  --tabs-bgd-hover-color: #1f2930;
  --tabs-bgd-active-color: #1f2930;
  --tabs-text-color: #ddd;
  --setting-border-color: #383a42;
  --setting-name-text-color: #fff;
  --setting-text-color: #888;
  --toggle-background-color: #ccc;
  --bgd-color: #232e36;
  --important-text-color: #fff;
  --text-color: #888;
}
