:root:root {
    --ic-brand-primary: var(--cp-link-color) !important;
    --ic-link-color: var(--cp-link-color) !important;
    --ic-link-color-lightened-10: var(--cp-link-color-lightened-10) !important;
    --ic-link-color-darkened-10: var(--cp-link-color-darkened-10) !important;
}

.ToDoSidebarItem__Title > a:not(:hover),
#planner-todosidebar-item-list + div:last-child button:not(:hover),
.PlannerItem-styles__title > a:not(:hover),
#nav-tray-portal a {
    color: var(--cp-link-color) !important;
}

.ToDoSidebarItem__Title > a:hover,
#planner-todosidebar-item-list + div:last-child > button:hover,
.PlannerItem-styles__title > a:hover {
    color: var(--cp-link-color-darkened-10) !important;
}

.StickyButton-styles__root:not(:hover),
.PlannerHeader-styles__root.PlannerHeader > span:nth-child(4) > span > span:nth-child(2) {
    background: var(--cp-link-color) !important;
}

.StickyButton-styles__root:hover {
    background: var(--cp-link-color-darkened-10);
}