@font-face {
  font-family: Montserrat Bold;
  src: url(../font/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf);
}

.content {
  max-width: 800px;
  margin: auto;
}

.article-header h1 {
  font-family: 'Montserrat Bold', sans-serif;
}

.article-header i {
  color: #888;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}

.article-header {
  margin-bottom: 60px;
}

.article-content {
  color: #aaa;
  line-height: 2rem;
}

.pgrp br {
  display: block;
  content: "";
  margin: 15px;
}

.article-content .pgrp p:first-child {
  text-indent: 70px;
}

.article-content .pgrp.no-indent p:first-child {
  text-indent: 0;
}

.article-content .pgrp p {
  margin: 0;
}

.article-content .pgrp {
  margin-bottom: 50px;
}
