h1{
  font-size: 45px;
  color: #333;
}

.splash {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  max-width: 500px;
}

.splash h1{
  margin: auto;
  max-width: 300px;
  margin-top: 30px;
}

.splash p {
  font-size: 18px;
  color: #777;
  margin-top: 30px;
  margin-bottom: 30px;
}

.features, .features-2 {
  width: auto;
  margin: auto;
  display: table;
  width: 100%;
  max-width: 1000px;
}

.content {
  margin: 10px 25px;
}
@media only screen and (min-width: 975px) {
  .feature {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 400px;
    display: inline-block;
    margin-top: 50px;
  }

  .smart-scroll {
    margin-top: 82px;
  }
  
  .speed-boost {
    margin-top: 117px;
  }

  .search-bar {
    margin: 0;
  }

  .open-source {
    margin-top: 108px;
  }

  .speed-boost, .search-bar {
    float:left;
  }

  .open-source,  .smart-scroll {
    float:right;
  }
}

@media only screen and (max-width: 974px) {
  .feature {
    padding: 20px;
    margin: auto;
    text-align: center;
    max-width: 400px;
    display: block;
    margin-top: 50px;
  }

  .features-2 {
    display: none;
  }
}

.feature p {
  color: #444;
}

.articles {
  padding: 5px;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  position: static;
}

.articles h2 {
  max-width: 200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
.articles article {
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  position: relative;
  margin: 6px;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 5px;
  max-height: 200px;
  height: inherit;
  overflow: hidden;
  max-width: 600px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.articles article:hover {
  background-color: #eee;
}
.articles article p.preview {
  font-size: 13px;
  color: #555;
}
.articles article p.dateline {
  color: #aaa;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 10px;
}
