@font-face {
  font-family: Open Sans;
  src: url(../font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Open Sans SemiBold;
  src: url(../font/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: Open Sans Bold;
  src: url(../font/OpenSans-Bold.ttf);
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}


h1 {
  font-family: 'Open Sans Bold', sans-serif;
}

b, h2 {
  font-family: 'Open Sans SemiBold', sans-serif;
}

a {
  text-decoration: none;
}

.navbar ul li:not(.active) a:hover {
  color: #bbb;
}

.navbar ul li.active a:hover {
  cursor: default;
}

.page-container {
  position: relative;
  min-height: 100%;
}

html, body {
  height: 100%;
}

.content-wrap {
  flex: 1 0 auto;
  padding: 20px;
}

.footer {
  flex-shrink: 0;
  padding: 20px
}

@media only screen and (min-width: 550px) {
  .nav-logo {
    margin-left: 25px;
    float: left;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    margin-right: 25px;
    padding: 0;
    overflow:visible;
    float: right;
  }

  .navbar {
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
  }

  .navbar ul li {
    float: left;
    display: inline;
  }

  .navbar ul li a {
    display: block;
    color: #777;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
  }
}

@media only screen and (max-width: 549px) {
    .nav-logo {
      display: block;
    }
    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;
    }
    .navbar img {
      margin: auto;
    }
    .navbar {
      text-align: center;
      overflow: hidden;
      width: 100%;
      display: block;
      white-space: nowrap;
    }

    .navbar ul li {
      display: inline;
    }
    .navbar ul li a {
      display: block;
      color: #777;
      text-align: center;
      padding: 20px 18px;
      text-decoration: none;
    }
}

.footer {
  width: 100%;
  background-color: #333;
  text-align: center;
  padding: 10px 0px 20px 0px;
  bottom: 0;
}

.footer img {
  margin: 10px 0px 5px 0px;
}
ul.footer-nav {
  padding: 0px;
  margin-bottom: 10px;
}

ul.footer-nav li {
  padding-left: 4px;
  display: inline;
  color: white;
}

ul.footer-nav li:after {
  padding-left: 4px;
  content: " \00b7";
}

ul.footer-nav li:last-child:after {
  content: none;
}

ul.footer-nav li a {
  color: white;
}

ul.footer-nav li:not(.active) a:hover {
  color: #bbb;
}

ul.footer-nav li.active a:hover {
  cursor: default;
}

.footer p.legal {
  max-width: 50%;
  margin: auto;
  margin-bottom: 0;
  color: #aaa;
  font-size: 12px;
}
