h1{
  font-size: 45px;
  color: #333;
}

.splash {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  max-width: 500px;
}

.splash h1{
  margin: auto;
  max-width: 500px;
  margin-top: 30px;
}

.splash p {
  font-size: 18px;
  color: #777;
  margin-top: 30px;
  margin-bottom: 30px;
}

.configure-extension {
  display: table;
  width: 400px;
  text-align: center;
  margin: 0px 0px;
  margin: 40px auto;
}

.content {
  margin: 10px 25px;
}
