.ic-app-header, body:not(.primary-nav-expanded) .menu-item__text {
    background: var(--sidebar-background-color) !important;
}

body:not(.primary-nav-expanded) .menu-item__text::after {
    border-right-color: var(--sidebar-color-gradient-fallback, var(--sidebar-background-color)) !important;
}

body:not(.primary-nav-expanded) .menu-item__text {
    color: var(--ic-brand-global-nav-ic-icon-svg-fill, #FFF) !important;
}

.ic-avatar {
    border-color: transparent !important;
}

.menu-item-icon-container svg {
    width: var(--sidebar-icon-width, 26px) !important;
    transition: width .4s;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link, #mobile-header {
    background: var(--sidebar-active-background-color) !important;
}

@media only screen and (min-height: 400px) {
    .ic-app-header__menu-list-link:not(.ic-app-header__menu-list-link--nav-toggle) {
        padding: var(--sidebar-icon-height, .4375rem) 0 !important;
    }
}

#menu > li:not(.cpx-outside-settings-drawer) {
    display: none;
}

#sidebar-custom-menu-icon-more-expansion {
    position: fixed;
    z-index: 150;
    background: var(--sidebar-background-color);
    border: 1px solid #ccc;
    border-radius: 8px;
    left: 54px;
    max-height: 55%;
    overflow: scroll;
    scrollbar-width: none;
    align-content: center;
    display: flex;
    flex-direction: column;
}::--webkit-scrollbar {
    display: none;
}

#sidebar-custom-menu-icon-more-expansion .menu-item__text {
    display: none;
}

.primary-nav-expanded #sidebar-custom-menu-icon-more-expansion .menu-item__text {
    display: block;
}

.primary-nav-expanded #sidebar-custom-menu-icon-more-expansion  {
    left: 84px;
}

.primary-nav-expanded #sidebar-custom-menu-icon-more-expansion .menu-item {
    width: 84px;
}

#sidebar-custom-menu-icon-more-expansion .menu-item {
    width: 54px;
}

.more-expansion-top {
    top: var(--y-position);
}

.more-expansion-bottom {
    bottom: var(--y-position);
}

#sidebar-custom-menu-icon-more-expansion-overlay {
    z-index: 149;
    top: 0;
    right: 0;
    width: calc(100% - 54px);
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
}

.primary-nav-expanded #sidebar-custom-menu-icon-more-expansion-overlay {
    width: calc(100% - 84px);
}
/* :root:root {
    --custom-padding: .4375rem;
    --custom-active-background: #FFFFFF;
    --cp-custom-sidebar-tooltip-test-color: #FFFFFF;
}

@media only screen and (min-height: 400px) {

    .ic-app-header__menu-list-link:not(.ic-app-header__menu-list-link--nav-toggle) {
        
        padding: var(--custom-padding) 0 !important;
        
    }

}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {

    background: var(--custom-active-background) !important;

}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-icon-svg, body.primary-nav-expanded .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .menu-item__text {
    color: var(--ic-brand-global-nav-ic-icon-only-svg-fill--active) !important;
    fill: var(--ic-brand-global-nav-ic-icon-only-svg-fill--active) !important;

}

.menu-item__text {
    color: var(--cp-custom-sidebar-tooltip-test-color) !important;
} */