.Navigation__Tab {
  background-color: var(--tab-background-color);

  display: inline-block;
  height: 40px;
}

.Navigation__Tab.active, .Navigation__Tab:hover {
  background-color: var(--tab-background-color-active);
}

.Tab__Label {
  margin: 12px 0;
  color: var(--tab-text-color);
  text-align: center;
}