.SidebarBackgroundColorPicker {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), var(--color);
    overflow: hidden;
}

.SidebarBackgroundColorPickerUnset::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-left: 24px solid transparent;
    border-bottom: 24px solid red;
    top: -24px;
    position: absolute;
}

.SidebarBackgroundColorPicker__Cover {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: opacity 0.3s linear;
}

.SidebarBackgroundColorPicker__Cover:hover {
    opacity: 1;
}

.SidebarBackgroundColorPicker__Popup {
    width: 220px;
    box-sizing: initial;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px, rgb(0 0 0 / 15%) 0px 8px 16px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    z-index: 10;
}

.SidebarBackgroundColorPicker__Overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 10;
}

.SidebarBackgroundColorPicker__Tab {
    display: flex;
}

.SidebarBackgroundColorPicker__TabButton, .SidebarBackgroundColorPicker__TabButtonReset {
    background: #303643;
}

.SidebarBackgroundColorPicker__TabButton, .SidebarBackgroundColorPicker__TabButtonSelected {
    width: 89.5px;
    padding: 12px 0;
}

.SidebarBackgroundColorPicker__TabButton, .SidebarBackgroundColorPicker__TabButtonSelected, .SidebarBackgroundColorPicker__TabButtonReset {
    text-align: center;
    color: #FFF;
    transition: background 0.3s linear, color 0.3s linear;
}

.SidebarBackgroundColorPicker__TabButtonReset {
    width: 41px;
}

.SidebarBackgroundColorPicker__TabButtonResetInner {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: 8px 0 0 8px;
    width: 25px;
    height: 25px;
    background: #454c5c;
}

.SidebarBackgroundColorPicker__TabButtonResetInner::before {
    position: absolute;
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    border-left: 25px solid transparent;
    border-bottom: 25px solid #FF5151;
    top: -25px;
}

.SidebarBackgroundColorPicker__TabButtonSelected {
    background: #21262F;
}

.SidebarBackgroundColorPicker__TabButton:hover, .SidebarBackgroundColorPicker__TabButtonReset:hover {
    background: #21262F;
}

.SidebarBackgroundGradientPicker {
    border-radius: 4px;
    width: 200px;
    border: 1px solid #ccc;
    margin: 9px 0 9px 9px;
}

.SidebarBackgroundGradientPicker__Gradient {
    width: 200px;
    height: 100px;
    background: linear-gradient(45deg, var(--color1), var(--color2));
}

.SidebarBackgroundColorPicker__TabButton__GradientPreview {
    width: 118px;
}

.SidebarBackgroundColorPicker__TabButton__Gradient1, .SidebarBackgroundColorPicker__TabButton__Gradient2 {
    width: 41px;
    position: relative;
}

.SidebarBackgroundColorPicker__TabButton__Gradient1::before, .SidebarBackgroundColorPicker__TabButton__Gradient2::before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    margin: 13px 0 0 13px;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.SidebarBackgroundColorPicker__TabButton__Gradient1::before {
    background: var(--color1);
}

.SidebarBackgroundColorPicker__TabButton__Gradient2::before {
    background: var(--color2);
}