.canvasplus-search-ui {
  position: fixed;
  height: 100px;
  width: clamp(min(calc(100% - 20px), 500px),70%,850px);
  min-height: min(calc(100% - 20px), 600px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  border-radius: 20px;
}

.canvasplus-search-ui-wrapper {
  position: fixed;
  display: block;
  content: '';
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  z-index: 200;
}

.canvasplus-search-ui-header {
  background: #F8F8F8;
  width: 100%;  
  padding: 22.5px 0;
  height: 35px;
  border-radius: 20px 20px 0 0;
  display: flex;
  position: relative;
}

.canvasplus-search-ui-header-icon {
  margin: 5px 25px 5px 25px;
  height: 25px;
  width: 25px;
  background: red;
}

.canvasplus-search-ui-query-wrapper {
  height: 35px;
  font-size: 18px;
  line-height: 35px;
}

.canvasplus-search-ui-results-single-result {
  width: 100%;
  background: #F0F7FF;
  height: 72px;
  position: relative;
  border-top: 1px solid #CCCCCC;
}

.canvasplus-search-ui-results-single-result-left {
  float: left;
}

.canvasplus-search-ui-results-single-result-right {
  float: right;
}