.canvasplus-search-ui {
  position: fixed;
  height: 100px;
  width: clamp(min(calc(100% - 20px), 500px),70%,850px);
  min-height: min(calc(100% - 20px), 600px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  border-radius: 20px;
}

.canvasplus-search-ui-wrapper {
  position: fixed;
  display: block;
  content: '';
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  z-index: 200;
}

.canvasplus-search-ui-header {
  background: #F8F8F8;
  width: 100%;  
  padding: 22.5px 0;
  height: 35px;
  border-radius: 20px 20px 0 0;
  display: flex;
  position: relative;
}

.canvasplus-search-ui-header-icon {
  margin: 5px 25px 5px 25px;
  height: 25px;
  width: 25px;
  background: red;
}

.canvasplus-search-ui-query-wrapper {
  height: 35px;
  font-size: 18px;
  line-height: 35px;
  position: relative;
}

.canvasplus-search-ui-results-single-result {
  width: 100%;
  background: #F0F7FF;
  height: 72px;
  position: relative;
  border-top: 1px solid #CCCCCC;
  font-size: 15px;
}

.canvasplus-search-ui-results-single-result.result-selected {
  background: #e2efff;
}

.canvasplus-search-ui-results-single-result-left {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
  max-width: 55%;
  overflow: hidden;
  white-space: nowrap;
}

.canvasplus-search-ui-results-single-result-left-topmeta {
  color: #808080;
  padding-bottom: 3px;
}

.canvasplus-search-ui-results-single-result:not(.includes-top-meta) .canvasplus-search-ui-results-single-result-left-inner {
  font-size: 18px;
}

.canvasplus-search-ui-results-single-result-left-inner {
  padding-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.canvasplus-search-ui-results-single-result-right {
  position: relative;
  padding: 10px 20px 0 0;
  width: fit-content;
  margin-left: auto;
  max-width: 30%;
}

.canvasplus-search-ui-results-single-result-right-breadcrumb {
  color: #808080;
  text-align: right;
}

.canvasplus-search-ui-results-single-result-right-course {
  color: var(--course-card-color);
  position: relative;
  padding: 3px 0 0 16px;
  width: fit-content;
  float: right;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.canvasplus-search-ui-results-single-result-right-breadcrumb {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.canvasplus-search-ui-results-single-result-right-course::before {
  background: var(--course-card-color);
  content: '';
  position: absolute;
  display: block;
  left: 5px;
  top: calc(50% + 3px);
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 3px;
}

.canvasplus-search-ui-query-wrapper::before {
  display: block;
  position: absolute;
  top: 0;
  left: var(--data-caret-position);
  width: 1px;
  height: 75%;
  background: #888;
  content: '';
  transition: 0.1s left linear;
}