.ActiveSidebarColorSwitch_Shortcut {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), var(--color);
    cursor: pointer;
}

.ActiveSidebarColorSwitch_Popup {
    position: absolute;
    background-color: white;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border: 1px solid var(--setting-line-color);
    top: -281px;
    left: -179px;
    padding: 11px 6px 15px 6px;
    width: 190px;
    cursor: default;
}

.ActiveSidebarColorSwitch_Popup__Text {
    margin: auto;
    width: 160px;
    text-align: center;
}

.ActiveSidebarColorSwitch_Popup__Text p {
    margin: 5px 0 10px 0;
}

.ActiveSidebarColorSwitch_Popup__Options {
    margin: auto;
    display: flex;
    width: fit-content;
}

.ActiveSidebarColorSwitch_Popup__ColorOption {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: 0 3px;
    overflow: hidden;
}

.ActiveSidebarColorSwitch_Popup__ColorOption.ascs_p_co_white {
    background: #EEE;
}

.ActiveSidebarColorSwitch_Popup__ColorOption.ascs_p_co_blend {
    background: #EEE;
}

.ActiveSidebarColorSwitch_Popup__ColorOption.ascs_p_co_blend::before {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    border-left: 24px solid transparent;
    border-bottom: 24px solid #050d26;
    top: -24px;
}

.ActiveSidebarColorSwitch_Popup__ColorOption.ascs_p_co_darker {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), var(--color);
}

.ActiveSidebarColorSwitch_Popup__ColorOption.ascs_p_co_custom {
    background: repeating-linear-gradient(135deg, #167ff0, #167ff0 5px, #ff3838 5px, #ff3838 10px, #ff9538 10px, #ff9538 15px, #ffe14a 15px, #ffe14a 20px, #5fc25d 20px,#5fc25d 25px);
}

.ActiveSidebarColorSwitch_Popup__ColorOption.ascs_p_co_custom_set {
    background: var(--color)
}

.ActiveSidebarColorSwitch_Popup__ColorOption.ascs_p_co_custom input, .ActiveSidebarColorSwitch_Popup__ColorOption.ascs_p_co_custom_set input {
    cursor: pointer;
}    


.SettingInput.ActiveSidebarColorSwitch_Shortcut__Hover {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}

.SettingInput.ActiveSidebarColorSwitch_Shortcut__Hover::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
    transition: background 0.3s;
}

.SettingInput.ActiveSidebarColorSwitch_Shortcut__Hover:hover::before {
    background: rgba(0, 0, 0, 0.1);
}

.SettingInput.ActiveSidebarColorSwitch_Shortcut.si_ascs_s_blend, .SettingInput.ActiveSidebarColorSwitch_Shortcut.si_ascs_s_white {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), #EEE;
}

.SettingInput.ActiveSidebarColorSwitch_Shortcut.si_ascs_s_darker {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), #666;
}

.ascs_s_h_blend::before {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    border-left: 24px solid transparent;
    border-bottom: 24px solid #050d26;
    top: -24px;
}

.overlay + .ActiveSidebarColorSwitch_Shortcut .SettingInput.ActiveSidebarColorSwitch_Shortcut__Hover::before {
    opacity: 0 !important;
}

.SettingInput.ActiveSidebarColorSwitch_Shortcut__Hover:hover::before {
    opacity: 1;
}