.LargeOptionForm__Option {
  position: relative;
  border-radius: 5px;
  padding: 12px 0;
  width: 60%;
  margin: auto;
  background-color: var(--background-color);
  transition: background-color 0.3s;
  cursor: pointer;
}

.LargeOptionForm__Option p {
  margin: auto;
  width: fit-content;

  font-weight: 700;
}

.LargeOptionForm__Option:not(:last-child) {
  margin-bottom: 5px;
}

.LargeOptionForm__Option.selected p::before {
  content: '';
  width: 8px;
  height: 8px;
  background: var(--large-option-selected-indicator-color);
  animation: selectedIndicatorAppear 0.3s;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

@keyframes selectedIndicatorAppear {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.LargeOptionForm__Option:hover:not(.selected) {
  background-color: var(--background-hover-color);
}