.browsers-meta {
  padding: 50px 0 30px 0;
}

.browsers-version {
  margin: 0 0 25px 0;
  font-size: 18px;
  color: var(--accent-color)
}

.divider {
  width: 30px;
  border-bottom: 3px solid var(--accent-color);
  margin-bottom: 20px;
}

.browsers-paragraph {
  font-size: 16px;
  max-width: 80%;
  color: var(--text-color);
  line-height: 2.25;
}

.browsers-paragraph img.svg {
  height: 50px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
  padding: 10px;
  border-radius: 15px;
}

.browsers-paragraph img:hover {
  opacity: 1;
  background: #ddd;
}

.browsers-title {
  font-family: 'tiempos-bold', serif;
  margin-top: 0;
  font-size: 60px;
  width: 50%;
  color: var(--title-color)
}

.browsers-content {
  padding: 0 35px 25px 35px;
}

.browser.highlighted {
  background: rgba(245, 218, 77, 0.3);
  padding: 20px;
}