.update-meta {
  padding: 50px 0 50px 0;
}

.update-version {
  margin: 0 0 25px 0;
  font-size: 18px;
  color: var(--accent-color);
  font-family: 'proxima-bold';
}

.divider {
  width: 30px;
  border-bottom: 3px solid var(--accent-color);
  margin-bottom: 20px;
}

.update-paragraph {
  font-size: 16px;
  line-height: 2.25;
  color: var(--text-color);
}

.update-paragraph span, .update-paragraph strong:not(.no-extra) {
  max-width: 80%;
  width: fit-content;
  display: block;
}

.update-title {
  font-family: 'tiempos-bold', serif;
  margin-top: 0;
  font-size: 60px;
  width: 50%;
  color: var(--title-color)
}

.update-content {
  padding: 0 35px 25px 35px;
}

.update-content img {
  width: 85%;
  display: block;
  margin: auto;
}