.welcome-meta {
  padding: 50px 0 50px 0;
}

.welcome-version {
  margin: 0 0 25px 0;
  font-size: 18px;
  color: var(--accent-color)
}

.divider {
  width: 30px;
  border-bottom: 3px solid var(--accent-color);
  margin-bottom: 20px;
}

.welcome-paragraph {
  font-size: 18px;
  line-height: 45px;
  max-width: 80%;
  color: var(--text-color);
}

.welcome-title {
  font-family: 'tiempos-bold', serif;
  margin-top: 0;
  font-size: 60px;
  width: 50%;
  color: var(--title-color)
}

.welcome-content {
  padding: 0 35px 25px 35px;
}
