:root:root {
  --ic-brand-font-color-dark: #ccc;
  --ic-brand-font-color-dark-lightened: #e5e5e5;
  --ic-brand-font-color-dark-darkened: #777;

  --cpt-dark-background-color: #131313;
  --cpt-dark-nav-tray-color: #16161a;
  --cpt-dark-line-color: #383a42;

  --cpt-dark-dashboard-header-color: rgba(29, 29, 29, 0.95);

  --cpt-dark-odd-tr-background-color: #2a2a30;
  --cpt-dark-hovered-email-background-color: #1f2930;

  --cpt-dark-interactable-color: #1e1e1e;
  --cpt-dark-interactable-text-color: #fff;
  --cpt-dark-interactable-border-color: #7c7c7c;

  --cpt-dark-interactable-hover-color: #141414;
  --cpt-dark-interactable-hover-text-color: #ededed;
  --cpt-dark-interactable-hover-border-color: #090d0f;

  --cpt-dark-module-item-color: #1a1a1a;

  --cpt-dark-important-text-color: #fff;

  --cpt-dark-important-link-color: #b9b9b9;

  --cpt-dark-current-page: #fff;

  --cpt-dark-dashboard-header: rgb(25 25 25 / 95%);
}