:root:root {
  --ic-brand-font-color-dark: #ccc;
  --ic-brand-font-color-dark-lightened: #e5e5e5;
  --ic-brand-font-color-dark-darkened: #777;

  --cpt-dark-background-color: #26292d;
  --cpt-dark-nav-tray-color: #16161a;
  --cpt-dark-line-color: #444b5a;

  --cpt-dark-dashboard-header-color: rgba(42,43,47,0.95);

  --cpt-dark-odd-tr-background-color: #2a2a30;
  --cpt-dark-hovered-email-background-color: #1f2930;

  --cpt-dark-interactable-color: #2f3136;
  --cpt-dark-interactable-text-color: #fff;
  --cpt-dark-interactable-border-color: #444b5a;

  --cpt-dark-interactable-hover-color: #1f2930;
  --cpt-dark-interactable-hover-text-color: #ededed;
  --cpt-dark-interactable-hover-border-color: #090d0f;

  --cpt-dark-module-item-color: #191f24;

  --cpt-dark-important-text-color: #fff;

  --cpt-dark-important-link-color: #fff;

  --cpt-dark-current-page: #26292d;

  --cpt-dark-dashboard-header: rgba(38, 41, 45, 0.95);

  --cpt-dark-search-ui-header-background-color: #2c3438;
  --cpt-dark-search-ui-result-background-color: #232a2e;
  --cpt-dark-search-ui-selected-result-background-color: #223142;
  --cpt-dark-search-ui-glass-color: rgba(40, 45, 51, 0.5);

  --cpt-dark-snackbar-code-segment-color: #232a2e;
}
