body,
html {
  margin: 0;
}

#cpx-top-frame,
#cpx-main-frame {
  width: 100%;
  height: 100%;
  border: none;
}

#cpx-framing-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#cpx-top-frame {
  height: 50px;
}

#cpx-main-frame {
  height: 100%;
}
