.Slider-Bubble {
	background: #E8E8E8;
	color: #555;
	padding: 6px 12px;
	border-radius: 8px;
	display: inline-block;
	margin: 0.75px 0px 0.75px 5px;
	float: right;
}

.Slider .range {
	vertical-align: middle;
	-webkit-appearance: none;
	appearance: none;
	height: 2px;
	background: #096dca;
	outline: none;
	opacity: 0.7;
	animation-duration: 0.2s;
	transition: opacity .2s;
	width: 50%;
}
.range::-webkit-slider-thumb {
	height: 15px;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	width: 15px;
	border: 2px solid #096dca;
	-webkit-appearance: none;
}

.range::-moz-range-thumb {
	height: 15px;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	width: 15px;
	border: 2px solid #096dca;
	-webkit-appearance: none;
}

.Slider {
	display: inline-block;
	height: auto;
	position: relative;
	margin: 0;
	align-self: center;
	width: 100%;
}