.Slider-Bubble {
	background: var(--slider-border-color);
	color: white;
	padding: 1px 10px;
	border-radius: 6px;
	display: inline-block;
	margin: 0.75px 0px 0.75px 5px;
}

.Slider .range {
	vertical-align: middle;
	-webkit-appearance: none;
	appearance: none;
	height: 2px;
	background: var(--slider-border-color);
	outline: none;
	opacity: 0.7;
	animation-duration: 0.2s;
	transition: opacity .2s;
	width: 75%;
}
.range::-webkit-slider-thumb {
	height: 15px;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	width: 15px;
	border: 2px solid var(--slider-border-color);
	-webkit-appearance: none;
}

.range::-moz-range-thumb {
	height: 15px;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	width: 15px;
	border: 2px solid var(--slider-border-color);
	-webkit-appearance: none;
}

.Slider {
	display: inline-block;
	height: auto;
	position: relative;
	margin: 0;
	align-self: center;
	width: 100%;
}

:root:root {
	--slider-border-color: #096dca;
}