.Slider-Bubble {
	background: #E8E8E8;
	color: #555;
	padding: 8px 14px;
	border-radius: 8px;
	margin: 0.75px 0px 0.75px 5px;
	float: right;
	cursor: pointer;
	transition: 0.3s background linear;
}

.Slider-Bubble:hover {
	background: #D8D8D8;
}

.Slider .range {
	float: left;
	-webkit-appearance: none;
	appearance: none;
	height: 2px;
	background: #096dca;
	outline: none;
	opacity: 0.7;
	animation-duration: 0.2s;
	transition: opacity .2s;
	width: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 4px;
}

.Slider .range::-webkit-slider-thumb, .Slider .range::-moz-range-thumb {
	height: 15px;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	width: 15px;
	border: 2px solid #096dca;
	-webkit-appearance: none;
}

.Slider {
	display: flow-root;
	height: auto;
	position: relative;
	margin: 0;
	align-self: center;
	width: 100%;
}