@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

.PROGRESS_BAR.RESTING {
  width: 100%;
  transition: background 0.5s ease-out, width 0.1s ease-out;
}

.PROGRESS_BAR.LOADING {
  width: 70%;
  transition: width 2s linear;
}

.PROGRESS_BAR.START_LOADING {
  width: 0%;
  transition: none;
}

.PROGRESS_BAR.START_LOADING,
.PROGRESS_BAR.LOADING {
  background: blue;
}
