:root:root {
  --banner-background-color: #A82020;

  --tab-background-color-active: #21262F;
  --tab-background-color: #303643;
  --tab-text-color: #fff;

  --setting-line-color: #ccc;

  --setting-group-label-background-color: #000;
  --setting-group-label-text-color: #fff;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0;
}

#popup::-webkit-scrollbar {
  display: none;
}

#popup {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}