.cpx-snackbar-container {
    display: block;
    top: 0;
    z-index: 1000;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
}

.cpx-snackbar {
    background: var(--cpt-dark-search-ui-header-background-color, #FFF);
    padding: 0 18px;
    border-radius: 1000px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.15));
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    animation: cpx-snackbar-appear 0.35s ease-out;
}

.cpx-snackbar.removing {
    animation: cpx-snackbar-disappear 0.35s ease;
}

@keyframes cpx-snackbar-appear {
    from {
        transform: translate(-50%, -50px);
    } to {
        transform: translate(-50%, -0px);
    }
}

@keyframes cpx-snackbar-disappear {
    to {
        transform: translate(-50%, -50px);
    } from {
        transform: translate(-50%, -0px);
    }
}

span.cpx-snackbar-text-span {
    display: inline-block;
    float: none;
    margin: 0;
    white-space: pre;
    margin: 12px 0;
}

span.cpx-snackbar-text-span-code {
    background: var(--cpt-dark-snackbar-code-segment-color, #f3f3f3);
    padding: 6px 14px;
    border-radius: 24px;
    margin: 0 8px;
    font-size: 14px;
}