.notification-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    width: 400px;
    height: inherit;
    animation-duration: 0.5s;
    animation-name: notificationAppear;
}

.canvasplus-notification {
    width: 400px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.canvasplus-notification.dismissing {
    animation: canvasplus-notification-dismissing 1.5s ease;
}

@keyframes canvasplus-notification-dismissing {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.text-container {
    width: min-content;
    float: right;
    height: inherit;
    display: block;
}

.notification-text {
    margin: 0;
    padding-top: 25px;
    width: 260px;
    right: 10px;
    color: #656565;
    display: inline-block;
    height: max-content;
}

.notificationButton {
    border: none;
    border-radius: 10px;
    height: 50px;
    padding: 0 20px 0 20px;
}

.mainNotificationButton {
    color: #FFFFFF;
}

.alternativeNotificationButton {
    color: #656565;
}

.notificationButton:not(:last-child) {
    margin-right: 15px;
}

.buttoncontainer {
    position: relative;
    margin: 20px 0;
    width: 260px;
}


@keyframes notificationAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.survey {
    width: 550px;
    height: 600px;
    border-radius: 10px;
    background-color: #cccccca6;
    border: 3px solid #bebebe;
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.surveyiframe {
    width: 500px;
    height: 540px;
    position: absolute;
    transform: translate(-50%, -50%);
    border: none;
    display: block;
    border: none;
    left: 50%;
    top: 50%;
}

.surveyBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    transition: visibility 0.3s ease 0s, opacity 0.3s linear 0s;
}

.notification-image-heart {
    position: relative;
    display: block;
}

.notification-image-heart::before {
    width: 100%;
    height: 100%;
    display: block;
    background: var(--src);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    animation: notification-image-heart 7.5s linear 2s infinite;
}

.notification-image {
    width: 50px;
    height: 50px;
    background: var(--src);
    background-size: cover;
    margin: 30px;
}

@keyframes notification-image-heart {
    0% {
        transform: scale(1);
        opacity: 1;
    } 20%, 100% {
        transform: scale(1.5);
        opacity: 0;
    }
}